<% include ../partial/headerADM %>
<% include ../partial/menuADM %>
<main>
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="tit">
                    <p><%= title %></p>
                </div>
                <div class="formlist">
                    <div class="msgs"></div>
                    <form method="post" action="/admin/anuncios/adicionar/dados_enviados" role="form" enctype="multipart/form-data">
                        <div class="field">
                            <label>
                                Nome
                            </label>
                            <input type="text"  name="nome_prod" placeholder="Nome" value="<%=  produto.nome_prod%>"  onblur="testeField(this.value)" class="fieldtest" required/>
                        </div>
                        <div class="check">
                            <label>
                                Categoria
                            </label>
                            <div>
                                <% for(var i = 0; i < categoria.length; i++) { %>
                                    <div>
                                        <input type="checkbox" name="categoria" value="<%=  categoria[i].id_cat%>"/>
                                        <p><%=  categoria[i].id_cat%> - <%=  categoria[i].nome_cat%></p>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="txt">
                            <label>
                                Pequena Descrição
                            </label>
                            <div>
                                <textarea name="desc_prod" placeholder="Descrição breve" required></textarea>
                            </div>
                        </div> 
                        <div>
                            <label>
                                Data
                            </label>
                            <input type="text"  name="dia_prod" id="calendario" value="<%= produto.dia_prod%>" required/>
                        </div>
                        <div>
                            <label>
                                Hora
                            </label>
                            <input type="text" class="hora" name="hora_prod" value="<%= produto.hora_prod%>" required/>
                        </div>
                        <div class="check">
                            <label>
                                O Anúncio é internacional ?
                            </label>
                            <div class="int">
                                <input type="checkbox" name="nacional_prod">
                                <p>Sim</p>
                            </div>
                        </div> 
                        <div class="check">
                            <label>
                                Deseja destacar esse anúncio nas Promoções ?
                            </label>
                            <div class="int">
                                <input type="checkbox" name="promo_prod">
                                <p>Sim</p>
                            </div>
                        </div>
                        <div>
                            <label>
                                Valor
                            </label>
                            <input type="text" class="valor" name="valor_prod" placeholder="R$" required/>
                        </div> 
                        <div class="check">
                            <label>
                                Inclusos
                            </label>
                            <% for(var i = 0; i < inclusos.length; i++) { %>
                                <input type="checkbox" name="incluso" value="<%= inclusos[i].id_inc %>"/>
                                <p><%= inclusos[i].nome_inc %></p>
                            <% } %>
                        </div>
                        <div>
                            <label>
                                Quantidade de parcelas
                            </label>
                            <input type="text" name="parcelas_prod" class="parcelas" placeholder="Quantidade de parcelas" required/>
                        </div> 
                        <div class="check">
                            <label>
                                Últimas Vagas
                            </label>
                            <div class="int">
                                <input type="checkbox" name="vagas_prod" />
                                <p>Sim</p>
                            </div>
                        </div>   
                        <div class="txt">
                            <label>
                                Detalhes
                            </label>
                            <div>
                                <textarea id="code" name="texto_prod" placeholder="Detalhes" required></textarea>
                            </div>
                        </div>  
                        <div>
                            <label>
                                Imagem Home
                            </label>
                            <input type="file"  name="imghome"/>
                        </div>
                        <div>
                            <label>
                                Imagem Detalhes
                            </label>
                            <input type="file"  name="imgdet" multiple/>
                        </div>
                        <div class="add">
                            <button type="submit" value="enviar" >Enviar</button>               
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script> 
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script src="http://esironal.github.io/cmtouch/lib/codemirror.js"></script>
	<script src="http://esironal.github.io/cmtouch/addon/hint/show-hint.js"></script>
	<script src="http://esironal.github.io/cmtouch/addon/hint/xml-hint.js"></script>
	<script src="http://esironal.github.io/cmtouch/addon/hint/html-hint.js"></script>
	<script src="http://esironal.github.io/cmtouch/mode/xml/xml.js"></script>
	<script src="http://esironal.github.io/cmtouch/mode/javascript/javascript.js"></script>
	<script src="http://esironal.github.io/cmtouch/mode/css/css.js"></script>
	<script src="http://esironal.github.io/cmtouch/mode/htmlmixed/htmlmixed.js"></script>
	<script src="http://esironal.github.io/cmtouch/addon/selection/active-line.js"></script>
	<script src="http://esironal.github.io/cmtouch/addon/edit/matchbrackets.js"></script>
    <script>
        $(document).ready(function(){
            jQuery.browser = {};
                (function () {
                    jQuery.browser.msie = false;
                    jQuery.browser.version = 0;
                    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                        jQuery.browser.msie = true;
                        jQuery.browser.version = RegExp.$1;
                    }
            })();
            $('.valor').mask('00000');
            $('.parcelas').mask('00');
            $('.hora').mask('00:00:00');
            $( "#calendario" ).datepicker({
                showButtonPanel:true,
                dateFormat: 'yy-mm-dd',
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
            });

            function confirmAdd(confirmacao){
                if( confirmacao == true ){
                    var msg = "Produto adicionado";
                    $(".msgs").find('.alert').remove();
                    $(".msgs").append("<div class='alert' style='background-color: #f36e6e;border-color: #f36e6e;color: #fff;'>"+ msg +"</div>");
                }else{
                    console.log(confirmacao);
                    var msg = confirmacao;
                    $(".msgs").find('.alert').remove();
                    $.each(msg,function(idx, key){
                        $(".msgs").append("<div class='alert' style='background-color: #f36e6e;border-color: #f36e6e;color: #fff;'>"+ msg[idx].msg +"</div>");                       
                    });
                }
            }
            
            <%if(add != null){%>
                var add = <%= add%>;
                
                confirmAdd(add);
            <%}%>

            $('.fieldtest').blur(function(){
                if($(this).val() == ''){
                    $(this).parent().find("div.text").remove();
                    return false;
                }
            });

            CodeMirror.commands.autocomplete = function(cm) {
			CodeMirror.showHint(cm, CodeMirror.hint.html);
            }
            window.onload = function() {
                editor = CodeMirror(document.getElementById("code"), {
                    mode: "text/html",
                    theme: "neonsyntax",
                    lineWrapping: true,
                    lineNumbers: true,
                    styleActiveLine: true,
                    matchBrackets: true,
                    extraKeys: {
                        "Ctrl-Space": "autocomplete"
                    },
                    value: "<!doctype html>\n<html>\n  " + document.documentElement.innerHTML + "\n</html>"
                });
            };
        });

        function testeField(event){
            if(event != null && event != undefined){
                $.ajax({
                method: "POST",
                url: "/admin/anuncios/validate",
                data: { event : event },
                dataType: 'json',
                cache: false,
                })
                .done(function(data) {
                    if(data.type == false){
                        $('.field').find("div.text").remove();
                        $('.field').append("<div class='text'><span class='red'>"+ data.msg +"</span></div>");
                    }
                    else if (data.type == true){
                        $('.field').find("div.text").remove();
                        $('.field').append("<div class='text'><span class='green'>"+ data.msg +"</span></div>");
                    }
                });
            }else{
                return 0;
            }
             
        }
    </script>
</main>
<% include ../partial/footerADM %>