<% include ../partial/headerADM %>
<% include ../partial/menuADM %>
<%
    var hasCategory = function(categoriaid){
        for(var k=0; k < produto.categoria.length; k++){
            if( categoriaid == produto.categoria[k].id_cat ){
                return 'checked';
            }

        }
        
    }

    var hasIncludes = function(includeid){
        for(var i = 0; i < produto.inclusos.length; i++){
            if( includeid == produto.inclusos[i].id_inc ){
                return 'checked';
            }
        }
        
    }
%>
<main>
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="tit">
                    <p><%= title %></p>
                </div>
                <div class="formlist">
                    <form method="post" action="/admin/anuncios/editar/dados_enviados" id="formEdit">
                        <div>
                            <label>
                                ID:<%=  produto.id_prod%>
                            </label>
                            <input type="hidden" name="id_prod" placeholder="Id" value="<%=  produto.id_prod%>" />
                        </div>
                        <div>
                            <label>
                                Nome
                            </label>
                            <input type="text"  name="nome_prod" placeholder="Nome" value="<%=  produto.nome_prod%>" required/>
                        </div>
                        <div class="check">
                            <label>
                                Categoria(selecionar pelo menos 1)
                            </label>
                            <div>
                                <% for(var i = 0; i < categoria.length; i++) { %>
                                    <div>
                                        <input type="checkbox" name="categoria" value="<%=  categoria[i].id_cat%>" <%=hasCategory(categoria[i].id_cat)%>/>
                                        <p><%=  categoria[i].id_cat%> - <%=  categoria[i].nome_cat%></p>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="txt">
                            <label>
                                Pequena Descrição
                            </label>
                            <div>
                                <textarea name="desc_prod" placeholder="Descrição breve" value="<%= produto.desc_prod%>" required><%= produto.desc_prod%></textarea>
                            </div>
                        </div> 
                        <div>
                            <label>
                                Data
                            </label>
                            <input type="text"  name="dia_prod" placeholder="Evitar escrever a data, selecioná-la pelo calendario" id="calendario" value="<%= produto.dia_prod%>" required/>
                        </div>
                        <div>
                            <label>
                                Hora
                            </label>
                            <input type="text" class="hora" name="hora_prod" placeholder="Exemplo: 16:00:00, 09:30:00" value="<%= produto.hora_prod%>" required/>
                        </div>
                        <div class="check">
                            <label>
                                O Anúncio é internacional ?
                            </label>
                            <div class="int">
                                <% if( produto.nacional_prod == true) {%>
                                    <input type="checkbox" name="nacional_prod" checked />  
                                <% } 
                                    else { %>
                                    <input type="checkbox" name="nacional_prod" />  
                                <% } %>
                                <p>Sim</p>
                            </div>
                        </div> 
                        <div class="check">
                            <label>
                                Deseja destacar esse anúncio nas Promoções ?
                            </label>
                            <div class="int">
                                <% if( produto.promo_prod == true) {%>
                                    <input type="checkbox" name="promo_prod" checked />  
                                <% } 
                                    else { %>
                                    <input type="checkbox" name="promo_prod" />  
                                <% } %>
                                <p>Sim</p>
                            </div>
                        </div>
                        <div>
                            <label>
                                Valor
                            </label>
                            <input type="text" name="valor_prod" placeholder="R$ - Somente em real" value="<%=  produto.valor_prod%>" required/>
                        </div> 
                        <div class="check">
                            <label>
                                Inclusos
                            </label>
                            <% for(var i = 0; i < inclusos.length; i++) { %>
    
                                <input type="checkbox" name="incluso" value="<%= inclusos[i].id_inc %>" <%=hasIncludes(inclusos[i].id_inc)%> />
                                <p><%= inclusos[i].nome_inc %></p>
    
                            <% } %>
                        </div>
                        <div>
                            <label>
                                Quantidade de parcelas
                            </label>
                            <input type="text" name="parcelas_prod" placeholder="Quantidade de parcelas" value="<%=  produto.parcelas_prod%>" required/>
                        </div> 
                        <div class="check">
                            <label>
                                Últimas Vagas
                            </label>
                            <div class="int">
                                <% if( produto.vagas_prod == true) { %>
                                    <input type="checkbox" name="vagas_prod" checked/>
                                <% } 
                                    else { %>
                                    <input type="checkbox" name="vagas_prod"/>  
                                <% } %>
                                <p>Sim</p>
                            </div>
                        </div>   
                        <div class="txt">
                            <label>
                                Detalhes
                            </label>
                            <div>
                                <textarea name="texto_prod" placeholder="Detalhes" value="<%=  produto.texto_prod%>" required><%= produto.texto_prod%></textarea>
                            </div>
                        </div>  
                        <div class="add">
                            <button type="submit" value="enviar" >Enviar</button>               
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
            jQuery.browser = {};
                (function () {
                    jQuery.browser.msie = false;
                    jQuery.browser.version = 0;
                    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                        jQuery.browser.msie = true;
                        jQuery.browser.version = RegExp.$1;
                    }
            })();
            $('.parcelas').mask('00');
            $('.hora').mask('00:00:00');
            $( "#calendario" ).datepicker({
                showButtonPanel:true,
                dateFormat: 'yy-mm-dd',
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado','Domingo'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez']
            });
        });

        $("#formEdit").submit(function(event){
            if (window.confirm("Confirmar alterações?")) {
                event.preventDefault();
                var post_url = $(this).attr("action"); 
                var request_method = $(this).attr("method"); 
                var form_data = $(this).serialize(); 
                
                $.ajax({
                    url : post_url,
                    type: request_method,
                    data : form_data
                }).done(function(data){ 
                    alert(data.msg);
                    location.reload();                
                });
            }else{
                return 0;
            }
        });
    </script>
</main>
<% include ../partial/footerADM %>