<% include ../partial/headerADM %>
<% include ../partial/menuADM %>
<main>
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="tit">
                    <p><%= title%></p>
                </div>
                <div class="add">
                    <a href="/admin/account/cadastro" title="Cadastrar" class="add">
                        Cadastrar
                    </a> 
                </div>
                <table class="list">
                    <colgroup span="4" class="columns"></colgroup>
                    <tr>
                        <th>
                            Nome
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Opções
                        </th>
                    </tr>
                    <% if( usuario != undefined){
                        for (var i = 0; i < usuario.length; i++) {%>
                            <tr>
                                <td>
                                    <%= usuario[i].name%>
                                </td>
                                <td>
                                    <%= usuario[i].username%>
                                </td>
                                <td>
                                    <%if(usuario[i].ativo == true){%>
                                        Ativo
                                    <% } else{ %>
                                        Desativado
                                    <% } %>
                                </td>                   
                                <td>
                                    <table style="width:100%" class="options">
                                        <tr>
                                            <td>
                                                <%if(usuario[i].ativo == true){%>
                                                    <i class="fa fa-power-off on" title="Desativar" aria-hidden="true" onclick="turnThis(<%= usuario[i].user_id %>,<%= usuario[i].ativo %>)"></i>
                                                <%} else{%>
                                                    <i class="fa fa-power-off off" title="Ativar" onclick="turnThis(<%= usuario[i].user_id %>,<%= usuario[i].ativo %>)" aria-hidden="true"></i>
                                                <% } %>
                                            </td>
                                            <td>
                                                <i class="fa fa-trash-o" aria-hidden="true" onclick="remove(<%= usuario[i].user_id %>)" title="Remover"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        <% } 
                    } %>
                    </tbody>             
                </table>
            </div>
        </div> 
    </div> 
</main>
<script>
    function remove(value){
        // console.log(value);
        if (window.confirm("Deseja remover este usuário?")) {
            $.ajax({
                method: "POST",
                url: "/admin/account/remover",
                data: { 
                    id : value
                },
                dataType: 'json',
                cache: false,
            })
            .done(function(data) {
                alert(data.msg);
                location.reload();
            }); 
        }    
    }
    
    function turnThis(idProd, status){
        if( status == true ){
            if (window.confirm("Deseja desativar este usuário?")) {
                $.ajax({
                    method: "POST",
                    url: "/admin/account/desativar",
                    data: { 
                        id : idProd,
                        turn : status
                    },
                    dataType: 'json',
                    cache: false, 
                })
                .done(function(data) {
                    alert(data.msg);
                    location.reload();
                });  
            }
        }else{
            if (window.confirm("Deseja ativar este usuário?")) {
                $.ajax({
                    method: "POST",
                    url: "/admin/account/desativar",
                    data: { 
                        id : idProd,
                        turn : status
                    },
                    dataType: 'json',
                    cache: false, 
                })
                .done(function(data) {
                    alert(data.msg);
                    location.reload();
                });  
            }
        }       
    } 
</script>
<% include ../partial/footerADM %>