<% include partial/header %>
<% include partial/menu %>
<main>
  <div class="container">
    <div class="row">
      <section class="desc col-12">
          <div>
              <h3>
                <%= produto.nome_prod%> 
              </h3>
          </div>
      </section>
    </div>
    <div class="row listdet">
      <div class="col-8">
        <div>
          <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/images/prev.png" />
          <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/images/next.png" />
          <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/images/loading.gif" />
          <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/images/close.png" />
            <div class="prft">
              <% if(produto.imagens != undefined){ %>
              <figure>
                <a href="../../images/uploads/prods/<%= produto.imagens[0] %>" title="" class="example-image-link">
                   <img src="../../images/uploads/prods/<%= produto.imagens[0] %>" alt="Magic City" class="example-image" selecionado="0"/>
                </a>
              </figure>
              <% } else { %>
                <figure>
                  <a href="../../images/default.png" title="" class="example-image-link">
                      <img src="../../images/default.png" alt="Friend's Tour" class="example-image" selecionado="0"/>
                  </a>
                </figure>
              <% } %>
            </div>
            <ul class="secft">
              <% if( produto.imagens != undefined) { 
                for(var i = 0; i < produto.imagens.length; i++ ){ %>
                    <li>
                      <figure>
                          <a href="../../images/uploads/prods/<%= produto.imagens[i] %>" title="Friend's Tour" rel="lightshow" data-lightbox="cars" class="example-image-link">
                            <img src="../../images/uploads/prods/<%= produto.imagens[i] %>" alt="Friend's Tour" class="example-image" selecionado="0"/>
                          </a>
                      </figure>
                    </li>
                <% }
              }
              else { %>
                  <li>
                    <figure>
                        <a href="../../images/default.png" title="Friend's Tour" rel="lightshow" data-lightbox="cars" class="example-image-link">
                          <img src="../../images/default.png" alt="Friend's Tour" class="example-image" selecionado="0"/>
                        </a>
                    </figure>
                  </li>
              <% } %>
            </ul>
        </div>
      </div>
      <section class="col-4 lg">
        <div class="dl">
          <% if(produto.categorias.length > 1 ){ %>
            <h4>PACOTE</h4>
          <% } else { %>
            <h4><%= produto.categorias %></h4>
         <% } %>
        </div>
        <div class="det">
            <div class="desc">
              <p><%= produto.desc_prod %></p>
            </div>
            <ul class="local">
              <li>
                <h5>Dia:</h5>
                <h6><%= produto.data%></h6>
              </li>
              <li>
                <h5>Horário:</h5>
                <h6><%= produto.horario%></h6>
              </li>
            </ul>
            <ul class="inc">
              <%for (var i=0; i < produto.inclusos.length; i++){%>
                <li>
                  <i class="fa fa-check" aria-hidden="true"></i>
                  <h6><%= produto.inclusos[i]%></h6>
                </li>
              <% } %>
            </ul>
            <div class="valor">
              <div>
                  <h5>
                    a partir de:
                  </h5>
                  <h6>
                    R$<%= produto.valor_prod%>
                  </h6>
              </div>
            </div>
            <ul class="fpag">
              <li class="parc">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <p>
                  PAGUE EM ATÉ <span><%= produto.parcelas_prod%></span>X !
                </p>
              </li>
            </ul>
            <button type="button" class="btn sell">COMPRAR</button>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="col-12 lg dsc">
        <div class="dl dc">
          <h4>Descrição</h4>
        </div>
        <div class="txt">
            <pre><%= produto.texto_prod%></pre>
        </div>
      </section>
    </div>
  </div>
  <div id="form" class="shadow">
      <form action="/detalhes/email" id="formsell" method="post">
        <i class="fa fa-window-close fc" aria-hidden="true" title="Voltar"></i>
        <span>
          ENTRE EM CONTATO AGORA<br> COM UM DE NOSSOS VENDEDORES
        </span>
        <input type="hidden" name="evento" value="<%= produto.nome_prod%>"/>
        <div>
            <input type="text" placeholder="Nome completo" name="nome" required/>
            <input type="text" placeholder="Telefone" name="telefone" class="phone_with_ddd" required/>
        </div>
        <div>
            <input type="email" placeholder="E-mail" name ="email" required/>
            <input type="text" placeholder="Data de nascimento" name ="nascimento" class="date" required/>
        </div>
        <div>
            <input type="text" placeholder="RG" name ="rg" class="rg" required/>
            <input type="text" placeholder="CPF" name ="cpf" class="cpf" required/>
        </div>
        <textarea placeholder="Olá, gostaria de comprar..." name="mensagem" required></textarea>
        <button type="submit" value="enviar" class="btn">Enviar</button>
      </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script>
  <script>
    $(document).ready(function() {
        lightbox.option({
          resizeDuration: 200,
          wrapAround: !0
        });
        $(".phone_with_ddd").mask("(00) 00000-0000");
        $('.date').mask('00/00/0000');
        $('.rg').mask('00.000.000-0');
        $('.cpf').mask('000.000.000-00');

        $($(".example-image")[0]).parent().bind("click", function(e) {
           $(".example-image[selecionado=1]").click(), e.preventDefault()
        });
        
        var clickImage = function() {
        $(".example-image").attr("selecionado", "0"), $(this).attr("selecionado", "1"), $($(".example-image")[0]).attr("src", $(this).attr("src"))
        };
        $(".example-image").each(function(e, a) {
        e > 0 && $(a).mouseover(clickImage).click(clickImage)
        });
    });
    $("#formsell").submit(function(event){
        event.preventDefault();
        var post_url = $(this).attr("action"); 
        var request_method = $(this).attr("method"); 
        var form_data = $(this).serialize(); 
        console.log(form_data);
        $.ajax({
            url : post_url,
            type: request_method,
            data : form_data
        }).done(function(data){ 
            if( data.confirm != true ){
              alert(data.msg);
            }else{
              alert(data.msg);
              location.reload();
            }
        });
    });
  </script>
</main>
<% include partial/footer %>
