<% include partial/header %>
<% include partial/menu %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script>
<script>

  function showVags(value, place){
    var vagas = $("#one").find('li[data-vg]');
    var vagas2 = $("#two").find('li[data-vg]');
    var count;
    var windowWith = $(window).width();

    function ftz(array){
      count = 0;
      for( var i = 0; i < array.length; i++){
        if( $(array[i]).attr('data-vg') != 'true' ){
          count = count + 1;
          $(array[i]).hide();
        }
      }
      return true;
    } 

    function alertThis(value,array,place,type){
      if( value == array.length){
        $(place).find("li[data-vg]").show();
        $(place).find("li.left").removeClass("left");
        $(place).find("li.right").removeClass("right");
        ( wtf >= 1 ? $("#cancel").find('button').hide() : true);
        if(type != "Nacional"){
          wtf = wtf + 1;
          alert("Sem Anúncios internacionais em últimas vagas!");
        }else{
          wtf = wtf + 1;
          alert("Sem Anúncios nacionais em últimas vagas!");
        }
        
      }
    }

    function forThis(array){
      var gc = null;
      for( var i = 0; i < array.length; i++ ){
        if( $(array[i]).is(':visible') && gc != false && windowWith > 580){
          $(array[i]).addClass('left');
          gc = false;
        }else if($(array[i]).is(':visible') && windowWith > 580){
          $(array[i]).addClass('right');
          gc = true;
        }
      }
      return true;
    }

    if( vagas.length >= 1){
      if(ftz(vagas)){
        var listnew = $("#one").find('li[data-price]');
        if(forThis(listnew)){
          $("#cancel").find('button').show();
          alertThis(count, vagas, $("#one"),"Nacional");
        }
      }           
    }else{
      alert("Sem Anúncios nacionais para ordenar");
    }

    if( vagas2.length >= 1){
      if(ftz(vagas2)){
        var listnew2 = $("#two").find('li[data-price]');
        if(forThis(listnew2)){
          $("#cancel").find('button').show();
          alertThis(count, vagas2, $("#two"),"Internacional");
        }
      }         
    }else{
      alert("Sem Anúncios internacionais para ordenar");
    }
   
  }

  function sortItens(type) {
    if( type != 'high'){
      var fx = function(a, b){
          return ($(b).data('price')) < ($(a).data('price')) ? 1 : -1;    
      }
    }else{
      var fx = function(a, b){
          return ($(b).data('price')) > ($(a).data('price')) ? 1 : -1;    
      }
    }

    $("#one li[data-price]").sort(fx).appendTo('#one');
    $("#two li[data-price]").sort(fx).appendTo('#two');
  }

  function blank(){
    $("#one li[data-price]").show();
    $("#two li[data-price]").show();
    $("#one").find("li.left").removeClass('left');
    $("#one").find("li.right").removeClass('right');
    $("#two").find("li.left").removeClass('left');
    $("#two").find("li.right").removeClass('right');
    $("#cancel").find('button').hide();
  }

  function getThis(type){
    var list1 = $("#one");
    var list2 = $("#two");
    wtf = 0;
    $(list1).find("li.left").removeClass('left');
    $(list2).find("li.right").removeClass('right');
    $(list1).find("li[data-price]").show();
    $(list2).find("li[data-price]").show();
    switch(type){
      case 'high':
      sortItens(type);
      break;

      case 'min':
      sortItens(type);
      break;

      case 'vagas':
      showVags(type);
      break;
    }
  }
  $(document).ready(function(){
    $('.money').mask("#.##0" , { reverse:true});    
  });
</script>
<main>
  <div class="container">
    <div class="row">
      <section class="col-12 tit">
        <h3>
          <%= type %>
        </h3>
        <figure>
          <img src="<%= banner %>" alt="Friend's Tour - Nacional" />
        </figure>
      </section>
    </div>
    <div class="row">
      <div class="col-12 crl vg lst">
        <div class="flt full">
          <div>
            <h4>
              ORDENAR POR:
            </h4>
            <select type="text" onchange="getThis(this.value)">
                <option value="min">Menor preço</option>
                <option value="high">Maior preço</option>
                <option value="vagas">Últimas vagas</option>
            </select>
          </div>
        </div>
        <div id="cancel">
          <button type="button" onclick="blank()">
            remover filtro
            <i class="far fa-times-circle"></i>
          </button>
        </div>
        <div class="title">
            <h4>
                Nacional
            </h4>
        </div>
        <ul class="carvg list" id="one">
          <%if( produto != undefined) {
            for(var i = 0; i < produto.length; i++) {
                if(produto[i].nacional_prod != true){%>
                <li data-price="<%= produto[i].valor_prod %>" data-vg="<%= produto[i].vagas_prod%>">
                  <div class="item">
                    <figure>
                      <a href="/detalhes/<%= produto[i].id_prod %>" title="Veja mais">
                        <% if(produto[i].imagem != undefined ) { %>
                          <img src="/images/uploads/prods/croped/<%= produto[i].imagem %>" alt="Friend's Tour"/>
                        <% }
                        else { %>
                          <img src="/images/default.png" alt="Friend's Tour"/>
                        <% } %>
                      </a>
                    </figure>
                    <div>
                      <div class="up">
                          <ul class="inf">
                            <% for(var k=0; k < produto[i].categoria.length; k++) { %>
                              <%switch(produto[i].categoria[k]) {
                                    case 'Passagem' : %>                   
                                      <li class="pass">
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                        <h4>Passagem</h4>
                                      </li> 
                                  <% break; 
                                    case 'Hotel' :%>                   
                                    <li class="hotel">
                                      <i class="fas fa-building"></i>
                                      <h4>Hotel</h4>
                                    </li> 
                                  <% break; 
                                    case 'Cruzeiro' :%>                   
                                      <li class="cruzeiro">
                                        <i class="fas fa-ship" aria-hidden="true"></i>
                                        <h4>Cruzeiro</h4>
                                      </li> 
                                  <% break;
                                    case 'Excursão' :%>                   
                                      <li class="package">
                                        <i class="fa fa-tags" aria-hidden="true"></i>
                                        <h4>Excursão</h4>
                                      </li>
                                  <% break;
                                    case 'Transporte' :%>                   
                                      <li class="transp">
                                        <i class="fa fa-bus" aria-hidden="true"></i>
                                        <h4>Transporte</h4>
                                      </li>
                                  <% break; 
                                    } %>
                            <% } %>
                          </ul>
                          <div class="name">
                            <h5><%= produto[i].nome_prod %></h5>
                          </div>
                          <div class="desc">
                            <p><%= produto[i].desc_prod %></p>
                          </div>
                          <ul class="tempo">
                            <li>
                              <h5>Horário:</h5>
                              <h6><%= produto[i].horario%></h6>
                            </li>
                            <li>
                              <h5>Dia:</h5>
                              <h6><%= produto[i].data%></h6>
                            </li>
                          </ul>
                          <ul class="inc">
                            <%for(var k = 0; k < produto[i].inclusos.length; k++){%>
                              <li>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <h6><%= produto[i].inclusos[k] %></h6>
                              </li>
                            <% } %>
                          </ul>
                      </div>
                      <div class="down">
                          <div class="valor">
                            <div>
                                <h5>
                                  a partir de:
                                </h5>
                                <h6>R$
                                  <span class="money"><%= produto[i].valor_prod %></span>
                                </h6>
                            </div>
                          </div>
                          <ul class="fpag">
                            <% if(produto[i].parcelas_prod > 1) {%>
                            <li class="parc">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                              <p>
                                PAGUE EM ATÉ <span><%= produto[i].parcelas_prod %></span>X !
                              </p>
                            </li>
                            <%} else { %>
                              <li class="parc">
                                <p>
                                  PAGAMENTO Á VISTA !
                                </p>
                              </li>
                            <% } %>
                          </ul>
                      </div>
                    </div>
                    <%if ( produto[i].vagas_prod == true ) { %>
                      <div class="event ult">
                        <span>
                          ÚLTIMAS VAGAS
                        </span>
                        <i class="far fa-clock"></i>
                      </div>
                    <% }  else { %>
                      
                    <% } %>
                  </div>
                </li>
            <% } else{}
            }
          } else{ %>
          <% } %>
        </ul>
        <div class="title">
            <h4>
                Internacional
            </h4>
        </div>
        <ul class="carvg list" id="two">
          <%if( produto != undefined) {
            for(var i = 0; i < produto.length; i++) {
              if(produto[i].nacional_prod != false) {%>
                <li data-price="<%= produto[i].valor_prod %>" data-vg="<%= produto[i].vagas_prod%>">
                  <div class="item">
                    <figure>
                      <a href="/detalhes/<%= produto[i].id_prod %>" title="Veja mais">
                        <% if(produto[i].imagem != undefined ) { %>
                          <img src="/images/uploads/prods/croped/<%= produto[i].imagem %>" alt="Friend's Tour"/>
                        <% }
                        else { %>
                          <img src="/images/default.png" alt="Friend's Tour"/>
                        <% } %>
                      </a>
                    </figure>
                    <div>
                      <div class="up">
                          <ul class="inf">
                            <% for(var k=0; k < produto[i].categoria.length; k++) { %>
                              <%switch(produto[i].categoria[k]) {
                                    case 'Passagem' : %>                   
                                      <li class="pass">
                                        <i class="fa fa-plane" aria-hidden="true"></i>
                                        <h4>Passagem</h4>
                                      </li> 
                                  <% break; 
                                    case 'Hotel' :%>                   
                                    <li class="hotel">
                                      <i class="fas fa-building"></i>
                                      <h4>Hotel</h4>
                                    </li> 
                                  <% break; 
                                    case 'Cruzeiro' :%>                   
                                      <li class="cruzeiro">
                                        <i class="fas fa-ship" aria-hidden="true"></i>
                                        <h4>Cruzeiro</h4>
                                      </li> 
                                  <% break;
                                    case 'Excursão' :%>                   
                                      <li class="package">
                                        <i class="fa fa-tags" aria-hidden="true"></i>
                                        <h4>Excursão</h4>
                                      </li>
                                  <% break;
                                    case 'Transporte' :%>                   
                                      <li class="transp">
                                        <i class="fa fa-bus" aria-hidden="true"></i>
                                        <h4>Transporte</h4>
                                      </li>
                                  <% break; 
                                    } %>
                            <% } %>
                          </ul>
                          <div class="name">
                            <h5><%= produto[i].nome_prod %></h5>
                          </div>
                          <div class="desc">
                            <p><%= produto[i].desc_prod %></p>
                          </div>
                          <ul class="tempo">
                            <li>
                              <h5>Horário:</h5>
                              <h6><%= produto[i].horario%></h6>
                            </li>
                            <li>
                              <h5>Dia:</h5>
                              <h6><%= produto[i].data%></h6>
                            </li>
                          </ul>
                          <ul class="inc">
                            <%for(var k = 0; k < produto[i].inclusos.length; k++){%>
                              <li>
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <h6><%= produto[i].inclusos[k] %></h6>
                              </li>
                            <% } %>
                          </ul>
                      </div>
                      <div class="down">
                          <div class="valor">
                            <div>
                                <h5>
                                  a partir de:
                                </h5>
                                <h6>R$
                                  <span class="money"><%= produto[i].valor_prod %></span>
                                </h6>
                            </div>
                          </div>
                          <ul class="fpag">
                            <% if(produto[i].parcelas_prod > 1) {%>
                            <li class="parc">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                              <p>
                                PAGUE EM ATÉ <span><%= produto[i].parcelas_prod %></span>X !
                              </p>
                            </li>
                            <%} else { %>
                              <li class="parc">
                                <p>
                                  PAGAMENTO Á VISTA !
                                </p>
                              </li>
                            <% } %>
                          </ul>
                      </div>
                    </div>
                    <%if ( produto[i].vagas_prod == true ) { %>
                      <div class="event ult">
                        <span>
                          ÚLTIMAS VAGAS
                        </span>
                        <i class="far fa-clock"></i>
                      </div>
                    <% }  else { %>
                      
                    <% } %>
                  </div>
                </li>
            <% } else{}
            }
          } else{ %>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</main>
<% include partial/footer %>
